################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/XO.Website/appsettings.json
/XO.Website/appsettings.Development.json
