################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/XO.Website/appsettings.json
/XO.Website/appsettings.Development.json
/XO.Entities
/XO.API/Startup.cs
/XO.API/Program.cs
/XO.API/appsettings.json
/XO.API/appsettings.Development.json
