<div class="vincent_back_to_top"></div>
	<footer>
		<div class="vincent_container">
			<div class="row">
				<div class="col col-12">
					<div class="vincent_logo_cont">
						<a href="/" class="vincent_image_logo_footer">
						</a>
					</div>
					<div class="vincent_foter_text">+1 123 456 15 15. <span>8:00 am – 11:30 pm</span></div>
					<ul class="vincent_foter_menu">
						<li><a href="/">Home</a></li>
						<li><a href="/">Menu</a></li>
						<li><a href="/">Features</a></li>
						<li><a href="/">About</a></li>
						<li><a href="/">Blog</a></li>
						<li><a href="/">Contact</a></li>
					</ul>
					<ul class="vincent_social">
						<li><a href="https://twitter.com/"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
						<li><a href="https://www.facebook.com/"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
						<li><a href="https://www.instagram.com/"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
					</ul>
					<div class="vincent_copy_text">Copyright © 2021 XO Hot Pot. All Rights Reserved.</div>
				</div>
			</div>
		</div>
	</footer>